.logos{
    padding-top: 22px;
    padding-left: 70px;
    width: 82px;
    height: 26px;
    }
    
    .primary btn {
      padding-top: 12px;
      padding-left: 1222px;
      width: 148px;
      height: 46px;
      /* UI Properties */
      border: 1px solid var(--unnamed-color-43afff);
      background: #43AFFF33 0% 0% no-repeat padding-box;
      border: 1px solid #43AFFF;
      border-radius: 5px;
      opacity: 1;
    }